/***  Colors ---------------------------------------------- */
// Font Colors
//$linkcolor: #a62425;
//$titleFontColor: #a62425;

// Background colors:
$header-bkg: #044357;
$highlight-red: #89263f;
$top-full-bkg: #003E52; // navy
$topbar-bkg: #E86C1F; // orange
$footer-bkg: #003E52; // navy
$bbh-navy: #003E52;
$bbh-turq: #0084C7;
$bbh-orange:  #E86C1F;

//$bkgoundContent: #FFFFFF; //
//$menuBarbkg: #D14719; //

/* Typography ------------------------------------------ */
/* General */

/*** end colors ****/
