/* listings admin styling */
/* my listings */
.listings-system {
  .listing-system-row {
    .listing-system-row-image {
      a {
        background-size: contain;
      }

      a:hover:after {
        content: none; // hide the eyeglass
      }
    }
  }
}

/* end listings admin styling */
