/* ----  Media Settings --------------------------------- */

/* end Media Settings ------------------------------------------ */

@media (min-width: 1200px) {
  .archive .filter-form {
    .petfriendly {
      width: 15% !important;
    }
    .yearround {
      width: 15% !important;
    }
    .form-group-button {
      width: 20% !important;
    }
  }
}

@media (min-width: 992px) {
    .inventor-cover-filter .form-group  {
        width: 50%;
    }
    .bbh-memsearch-short.widget_inventor_cover {
        .inventor-cover {
          height: 200px;
        }
      }
}

@media (max-width: 991px) {
 .header-bar-left { // topbar social icons
    .sow-features-list {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .bbh-memsearch-short.widget_inventor_cover { // homepage search form
      .inventor-cover {
        height: 300px;
      }
    }
}

@media (min-width:768px) { // tablet & desktop
    .header-sticky .header-wrapper.affix {
        height: inherit;
    }

    .header-navigation .nav > li > a {
        color: white;
        font-size: 1.0em;
    }
    .header-navigation .nav > li.current-menu-item > a {
        color: $bbh-orange;
    }

    .submenu-dark .header-navigation .nav > li .sub-menu, .submenu-dark .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu, .footer-top .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu, .submenu-dark .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu, .footer-bottom .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu {
      background-color: white;
    }

    .submenu-dark .header-navigation .nav > li .sub-menu li > a, .submenu-dark .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li > a, .footer-top .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu li > a, .submenu-dark .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li > a, .footer-bottom .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu li > a {
      color: black;
    }

    .submenu-dark .header-navigation .nav > li .sub-menu li:hover > a, .submenu-dark .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li:hover > a, .footer-top .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu li:hover > a, .submenu-dark .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li:hover > a, .footer-bottom .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu li:hover > a {
      color: $bbh-navy;
    }

    .submenu-dark .header-navigation .nav > li .sub-menu li:hover, .submenu-dark .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li:hover, .footer-top .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu li:hover, .submenu-dark .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li:hover, .footer-bottom .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu li:hover {
      background-color: rgba(117, 117, 117, 0.1);
    }

    .submenu-dark .header-navigation .nav > li .sub-menu:after, .submenu-dark .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu:after, .footer-top .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu:after, .submenu-dark .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu:after, .footer-bottom .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu:after {
      border-bottom-color: white;
    }
}
 @media (max-width: 767px) { // mobile
   .bbh-menu-across ul.menu li {
      display: block;
      text-align: center;
   }
 }

 @media (max-width: 519px) { // smaller mobile
   .bbh-menu-across {
     ul.menu {
       li {
        //  max-width: 400px;
       }
     }
   }
 }
