/* ----  Media Settings --------------------------------- */

/* end Media Settings ------------------------------------------ */

@media (min-width: 992px) {
    .inventor-cover-filter .form-group  {
        width: 50%;
    }
}
@media (min-width:768px) {
    .header-sticky .header-wrapper.affix {
        height: inherit;
    }

    .header-navigation .nav > li > a {
        color: white;
    }
    .header-navigation .nav > li.current-menu-item > a {
        color: $bbh-orange; 
    }
}
