/* styling for posts */

// archive of posts.
body.archive.category {
  #primary {
    .post {
      background-color: white;
      border: 1px solid lightgrey;
      border-radius: 4px;
      padding-top: 10px;
      padding-bottom: 20px;
      .post-meta {
        //width: auto;
        display: none;
        .post-meta-categories {

        }
        .post-meta-more {

        }
      }
    }
  }
}
